<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <body>

<!-- ###TEMPLATE_LIST### begin -->
        <div class="backgroundTop">
          ###MY_LISTVIEW_TITLE###
        </div>
        <!-- ###LISTVIEW### begin -->
        <div class="###VIEW###view ###VIEW###view-###MODE###">
          <!-- ###LISTHEAD### begin --><!-- ###LISTHEADITEM### begin -->
            ###ITEM###<!-- ###LISTHEADITEM### end --><!-- ###LISTHEAD### end -->
          <!-- ###LISTBODY### begin --><!-- ###LISTBODYITEM### begin -->
          ###TX_ORG_CAL.DATETIME###
          ###TX_ORG_CAL.SHORTCUT###
          <!-- ###LISTBODYITEM### end --><!-- ###LISTBODY### end -->
          ###MY_LISTVIEW_PAGE###
          <div class="backgroundBottom">&nbsp;</div>
        </div>
        <!-- ###LISTVIEW### end -->
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_SINGLE### begin -->
  Browser - die TYPO3-Frontend-Engine<br />
  <br />
  F&uuml;r dieses Plugin gibt es keine Detailansicht.<br />
  Gebe im Plugin bitte die Pid der Seite an, die die Single-Ansicht darstellt.
<!-- ###TEMPLATE_SINGLE### end -->

  </body>
</html>